.avatar {
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

.searchBar {
    -fx-text-fill: #513be0;
    -fx-prompt-text-fill: #513be0;
}

.genreBtn {
    -fx-font-family: "Raleway";
    -fx-font-weight: 700;
    -fx-text-fill: White;
    -fx-background-color: #513be0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #513be0;
    -fx-border-width: 2;
}

.active-genreBtn {
    -fx-font-family: "Raleway";
    -fx-font-weight: 700;
    -fx-background-color: White;
    -fx-text-fill: #513be0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #513be0;
    -fx-border-width: 2;

}
